@model hwFinanceApp.Models.TransactionDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransactionDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnteredByID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnteredByID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReconciledAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReconciledAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnteredBy_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnteredBy_ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
